form {
  width: 60%;
  margin: 0 auto;
  padding: 1em;
}

ol li a {
  color: #ff8c00;
  text-decoration: none;
}

fieldset {
  margin-bottom: 1em;
  padding: 1em;
}

legend {
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #ff8c00;
  outline: none;
}

input[type='radio'],
input[type='checkbox'] {
  width: auto;
}

button {
  background-color: #ff8c00;
  color: white;
  padding: 0.3em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

button#submit {
  margin-right: 1em;
}
button#reset {
  background-color: #ccc;
  color: #333;
}
button:hover {
  background-color: #e67300;
}
button#reset:hover {
  background-color: #b3b3b3;
}

@media screen and (min-width: 630px), print {
  button {
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }
}
