/* Student Name: PRINCE-CHARLES KOMBE MOLINGA
 Student Number: C0964367 */

/* CSS reset */
body,
header,
nav,
main,
footer,
h1,
div,
img,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for the body and images */

body {
  background-color: #1c1c1c;
}

img {
  max-width: 100%;
  display: block;
}

/* Style rules for mobile viewport */

/* Style rules for header  */
header {
  /* position: -webkit-sticky;
  position: sticky; */
  top: 0;
  background-color: #1c1c1c;
  height: 190px;
}

header img {
  margin: 0 auto;
  height: 100%;
}

/* Style rules for navigation area  */
nav {
  padding: 1%;
  margin-bottom: 1%;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  font-size: 1.5em;
  font-family: 'Francois One', sans-serif;
  /* font-weight: 400;
  font-style: normal; */
  border-top: 1px solid #fff;
}

nav li:first-child {
  border-top: none;
}

nav li a {
  display: block;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
  display: block;
}

.tablet-desktop {
  /* display: none; */
}

/* Style rules for main content  */
main {
  background-color: #f8f8f8;
  font-size: 1.15em;
  font-family: 'Roboto Slab', serif;
}

main .text-content {
  padding: 2%;
}

main h1,
h2 {
  font-family: 'Francois One', sans-serif;
  color: #ff8c00;
}

.text-content h1, h2, p, ul {
  text-align: center;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h2.weekly-sales {
  text-align: center;
  margin-bottom: 1%;
  text-transform: uppercase;
}

.sale-item {
  margin-bottom: 5%;
}

.sale-item img {
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ccc;
  margin: 0 auto;
}

.sale-item h3, p {
  text-align: center;
}

.action {
  font-size: 1.2em;
  font-weight: bold;
}

/* Media Query for Tablet Viewport */

@media screen and (min-width: 630px), print {
  /* Tablet Viewport: Show tablet-desktop class,
hide mobile class */

  .tablet-desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  /* Tablet Viewport: Style rule for header */

  header {
    position: static;
    padding-bottom: 2%;
  }

  /* Tablet Viewport: Style rules for nav area */

  nav li {
    border-top: none;
    display: inline-block;
    border-right: 1px solid #ff8c00;
  }

  nav li:last-child {
    border-right: none;
  }

  nav li a {
    padding: 0.1em 0.75em;
  }

  nav li a:hover {
    color: #000;
    background-color: #fff;
  }

  .text-content h1, h2, p, ul {
  text-align: left;
}

.text-content ul {
  margin-left: 2%;
}

.text-content ul li {
 padding: 0.5% 0;
}

  /* Tablet Viewport: Style rules for main content area */
}

/* Media Query for Desktop Viewport */

@media screen and (min-width: 1015px), print {
  /* Desktop Viewport: Style
rule for header */

  header {
    width: 20%;
    float: left;
    padding-bottom: 0;
  }

  /* Desktop Viewport: Style rules for nav area
*/

  nav {
    float: right;
    width: 70%;
    margin: 4em 1em 0;
  }

  nav ul {
    text-align: right;
  }

  nav li {
    border: none;
  }

  nav li a {
    padding: 0.5em 1em;
  }

  /* Desktop Viewport: Style Rules for main
content */

  main {
    clear: both;
  }

  main h1 {
    font-size: 1.8em;
  }

  .sale-item {
    float: left;
    width: 29%;
    margin: 0 2%;
  }

  .sale-item img {
    border-radius: 5px;
    box-shadow: 5px 5px 8px #ccc;
  }

  .sale-item img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
    cursor: pointer;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
Media Query for Large
Desktop Viewports */

@media screen and (min-width: 1921px) {
  #container {
    width: 1920px;
    margin: 0 auto;
  }
}

/*
Media Query for Print */

@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}

/* Style rules for footer content  */
footer p {
  font-size: 0.80em;
  text-align: center;
  color: #fff;
  padding: 0 1em;
}

footer p a {
  color: #fff;
  text-decoration: none;
}
